{% load static %}
<!DOCTYPE html>
<head>
    <title>商品詳細</title>
    <link rel="stylesheet" type='text/css' href="{% static 'style.css' %}"/>
</head>


<body>
    <h2>商品の詳細表示</h2>

    <table border="1">
        <tr>
            <th>商品名</th>
            <td>{{ item.name }}</td>
        </tr>
        <tr>
            <th>商品の色</th>
            <td>{{ item.color }}</td>
        </tr>
        <tr>
            <th>メーカー名</th>
            <td>{{ item.manufacturer }}</td>
        </tr>
        <tr>
            <th>価格</th>
            <td>{{ item.price }}円</td>
        </tr>
        <tr>
            <th>在庫数</th>
            <td>{{ item.stock }}個</td>
        </tr>
    </table>

    <br>

    <form action="/shopapp/cart/" method="post">
        数量
        <select name="amount">
            {% for i in range %}
                <option value="{{i}}">{{i}}</option>
            {% endfor %}
        </select>
        <input type="hidden" name="item_id" value="{{ item.item_id }}">
        <button type="submit">ショッピングカートに入れる</button>
    </form>


    <br>
    <a href="/shopapp/">商品検索へ</a>

</body>