<!DOCTYPE html>
<head>
    <title>商品詳細</title>
</head>
<body>
    <h2>商品の詳細表示</h2>

    <table border="1">
        <tr>
            <th>商品名</th>
            <td>{{ item_detail.name }}</td>
        </tr>
        <tr>
            <th>商品の色</th>
            <td>{{ item_detail.color }}</td>
        </tr>
        <tr>
            <th>メーカー名</th>
            <td>{{ item_detail.manufacturer }}</td>
        </tr>
        <tr>
            <th>価格</th>
            <td>{{ item_detail.price }}</td>
        </tr>
        <tr>
            <th>在庫数</th>
            <td>{{ item_detail.stock }}</td>
        </tr>
    </table>

    <br>
    <a href="">商品検索へ</a>

</body>