<!DOCTYPE html>
<head>
    <title>商品検索</title>
</head>
<body>
    <h2>商品の検索を行います。</h2>
    <form action="search", method="get">
        <label>カテゴリ：</label>
        <select name="category_id">
        {% for category in categories%}
                <option value="{{category.category_id}}">{{category.name}}</option>
        {% endfor %}
            </select>
            キーワード：<input type="text", name ="keyword">
            <button type="submit">検索</button>



            <br><br>
            <a href="cart">ショッピングカートを見る</a>
            <br>
            <a href="login">ログイン</a>
    </form>

</body>