<!DOCTYPE html>
<head>
    <title>商品検索</title>
</head>
<body>
    <h2>商品の検索を行います。</h2>
    <form action="search", method="get">
        <label>カテゴリ：</label>
        <select name="category_id">
        {% for category in categories%}
                <option value="{{category.category_id}}">{{category.name}}</option>
        {% endfor %}
        </select>
            キーワード：<input type="text", name ="keyword">
            <button type="submit">検索</button>

            <br><br>
            <a href="cart">ショッピングカートを見る</a><br><br>
            <a href="">購入履歴（任意機能）</a><br><br><br>

            {% if request.session.is_login %}
            <a href="">会員情報の確認</a><br>
            <a href="">会員登録の変更</a><br>
            <a href="">ログアウト</a><br>

            {% else %}
            <a href="/shopapp/login">ログイン</a><br><br>
            {% endif %}

            <a href="">管理者ページ（任意機能）</a><br>
    </form>

</body>